.game{
    width: 100%;
    background-color: #bbbbbb;
}
.layout{
    background: #dfdfdf;
    width: 90%;
}
.player{
    position: absolute;
    width: 1px;
    left: 0px;
    border-radius: 50px;
    border: 2px solid #19322E;
    background: transparent;
}
.btp{
    border: 0px solid transparent;
    padding: 1%;
    margin-top: 10px;
    background-color: #62a59a;
    width: 20%;
    border-radius: px;
}

.phot1{display: block;}
.phot2{display: none;}
.phot3{display: none;}
.phot4{display: none;}
.phot5{display: none;}
.phot6{display: none;}
.phot7{display: none;}
.phot8{display: none;}
.phot9{display: none;}
.phot10{display: none;}
.phot11{display: none;}
